/* @import './base/settings.scss';
@import './base/base.scss'; */

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	color: #464447;
	box-sizing: inherit;
}
header {
	position: relative;
	top: 0;
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	width: 100%;
}
.bg-blue {
	/* //background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
	background-color: #0099cc;
	color: white !important;
}
.bg-blue a {
	color: white !important;
}
.pageHeader {
    padding: 15px 15px 0 15px;
}
.headerText {
	font-size: 3em;
    font-style: italic;
    font-family: cursive;
    position: relative;
    bottom: 50px;
}
.portrait {
	height: 150px;
	border: 1px solid #ddd;
	border-radius: 20%;
	padding: 5px;
	margin-left: 15px;
}
.hero {
	font-size: 6em;
	text-align: center;
	margin:1em auto;
}
.navMenu {
	text-align: center;
	padding: 1em;
}

.navMenu a {
	margin: 0 20px;
	font-size: 1.5em;
	border-bottom: 3px solid #464447;
	display: inline-block;
}
.navMenu a {
	text-decoration: none;
	color: #464447;
}

.navMenu.hover a:hover {
  animation: shake 1s;
  transform: rotateY(0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  20%, 60% {
    transform: rotate(20deg);
  }

  40%, 80% {
    transform: rotate(-20deg);
  }

}
.section {
	padding: 3em 20%;
	line-height: 1.5em;
    font-size: 1.1em;
}
.section .heading {
	text-align: center;
	margin-bottom: 2em;
}
.section .company {
	display: inline;
}
.section .period {
	float: right;
}
.section p.intro {
	letter-spacing: 1px;
}
.box {
	border: 2px solid white;
    padding: 0 20px;
    margin: 25px 0;
    border-radius: 25px;
    transition: all 0.2s ease;
}
.box:hover {
	transform: scaleX(1.02);
	box-shadow: 1px 1px 15px white;
}
.box h4 {
	margin: 15px 0 5px 0;
}
.box p {
	margin: 5px 0;
}
#projects {
	padding-left: 10%;
	padding-right: 10%;
}
#projects-wrapper {
	display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
	margin: 10px;
    padding: 15px;
    width: 40%;
    box-shadow: 1px 1px 10px #464447;
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    line-height: normal;
    font-size: 1em;
}
.card:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 15px #464447;
}
.card img {
	max-width: 100%;
	border: 1px solid #464447;
}
.card .item {
	padding-right: 5px;
}
#contact .heading {
	margin-bottom: 1em;
}
#contact-form {
    width: 70%;
    margin: auto;
}
.form-control {
	width: 100%;
    border-radius: 3px;
    border: 1px solid #464447;
    margin: 1%;
    font-size: 18px;
    padding: 1%;
    box-sizing: inherit;
}
#contact-form input {
	height: 30px;
   
}
#contact-form textarea {
	height: 250px;
}
.submit {
	cursor: pointer;
}
.icons {
	text-align: center;
}
.icons a {
	margin: 0 1em;
}
.github, .facebook, .gmail, .linkedin
{ display: inline-block; background: url('../images/icons.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.github { background-position: -5px -0px; width: 64px; height: 64px; }
.facebook { background-position: -74px -0px; width: 64px; height: 64px; }
.gmail { background-position: -5px -69px; width: 64px; height: 64px; }
.linkedin { background-position: -74px -69px; width: 64px; height: 64px; }
#footer .navMenu a {
    font-size: 1.2em;
   border-bottom: none;
    display: inline-block;
}
#footer .navMenu {
	text-align: center;
}

.success {
	visibility: hidden;
	padding: 0 5px;

}





















